services:
  nginx:
    image: nginx:latest
    ports: 
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/cert.crt:/etc/nginx/cert.crt:ro
      - ./nginx/key.key:/etc/nginx/key.key:ro
    depends_on:
      - frontend
      - backend
    networks:
      - spcloud_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        PUBLIC_API_URL: ${PUBLIC_API_URL:-http://localhost:8000}
    container_name: spcloud_frontend
    restart: always
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    environment:
      - NODE_ENV=production
      - PUBLIC_API_URL=${PUBLIC_API_URL:-http://localhost:8000}
    depends_on:
      - backend
    networks:
      - spcloud_network

  backend:
    build:
      context: ./backend
    container_name: fastapi_backend
    restart: always
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app        # na czas developmentu kod widoczny w kontenerze
    depends_on:
      - db
      - minio
    networks:
      - spcloud_network

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    restart: always
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: supersecret
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - spcloud_network

  db:
    image: postgres:17
    container_name: postgres
    restart: always
    env_file: .env
    ports:
      - "${POSTGRES_PORT}:5432"   # hostowy port (np. 5433)
    volumes:
      - db_data:/var/lib/postgresql
    networks:
      - spcloud_network

volumes:
  db_data:
  minio_data:

networks:
  spcloud_network:
    driver: bridge
